body { 
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-size: 16px; 
	color: #333333; 
	background-color: #F9F9F9;
	overflow-x: hidden;

}

header{	 
	padding-left:350px;
	padding-right:350px;
	padding-top:50px;

 }

 section {
 	margin-left:350px;
	margin-right:350px;
	margin-top:50px;
 }

footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
}
.maincontainer{
	padding-bottom:150px;
}
.sidebar {
  margin: 0;
  padding: 0;
  font-size:18px;
  width: 300px;
  background-color: #00e6ac;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
