<DOCTYPE html>
<html lang="en">
	<head>
		<title> Home Page</title> 
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

	</head>
	<body>
		<div class="sidebar">
			<h4 class="menubar">Menu</h4>
			<a href=/api/v1.0/precipitation>Percipitation Information</a>
			<a href=/api/v1.0/stations>Station Information</a>
			<a href=/api/v1.0/tobs>TOBS(Forget what this means)</a>
		</div>

		</div>
		<div class="main" style="margin-left:350px">
			 <header>
				<h1>Climate Information</h1>
				<p>This website provides several different links that can be used to gather different information about the weather in Hawaii.The dataset runs ends in 2017 so the date is not currently up to date.</p>
			</header>
			<section>
				<h3>Percipitation<h3>
				<h4>URL - /api/v1.0/precipitation</h4> 
				<p>This link will return json with the percipitation by day for the last year</p>
			</section>
			<section>
				<h3>Station Information</h3> 
				<h4>URL - /api/v1.0/stations </h4>
				<p>This link will return json with all the station names and id's</p>
			</section>
			<section>
				<h3>TOBS Whatever this means</h3>
				<h4>URL - /api/v1.0/tobs</h4>
				<p>This link returns something with weather</p>
			</section>
		</div>
	</body> 
</html> 
