<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	</head>	
	<body>
		<div class="sidebar">
			<h3 class="menubar">Menu</h3>
			<a href="/api/v1.0/precipitation">Percipitation Information</a>
			<a href="/api/v1.0/stations">Station Information</a>
			<a href="/api/v1.0/tobs">Tempature Observations</a>
			<a href="/api/v1.0/<start>">Stats Start Date</a>
			<a href="/api/v1.0/<start>/<end>">Stats Start Date And End Date</a>		
		</div>
	</body>
	

		{% block content %}{% endblock %}

	<footer>
		<p>&copy; Mark Pasricha</p>
	</footer>
</html>h